@page "/"
@using Frontend.Website.Components
@using Entities
@using Newtonsoft.Json
@inject HttpClient Http
@inherits LayoutComponentBase
<PageTitle>Plantasia</PageTitle>

@if (plants != null) {

    <main>
        <h2>@month.ToString("MMMM")</h2>
        <div class="CurrentMonthContainer">
         
            @foreach(Plant plant in plants)
            {
                if (plant.PlantingDate.Month == month.Month) {
                     <PlantCardComponent Plant="@plant" Activity="Planting Season"/>
                }
                else if (plant.MoveTime.Month == month.Month) {
                     <PlantCardComponent Plant="@plant" Activity="Transfer Season"/>
                }
                else if (plant.HarvestTime.Month == month.Month) {
                     <PlantCardComponent Plant="@plant" Activity="Harvest Season"/>
                }
            }
        </div>

        <hr />
        <h2>@month.AddMonths(1).ToString("MMMM")</h2>
        <div class="CurrentMonthContainer">
            @foreach(Plant plant in plants)
            {
                if (plant.PlantingDate.Month == month.Month+1) {
                     <PlantCardComponent Plant="@plant" Activity="Planting Season"/>
                }
                else if (plant.MoveTime.Month == month.Month+1) {
                     <PlantCardComponent Plant="@plant" Activity="Transfer Season"/>
                }
                else if (plant.HarvestTime.Month == month.Month+1) {
                     <PlantCardComponent Plant="@plant" Activity="Harvest Season"/>
                }
            }
        </div>

    </main>


}
else {

}



@code 
{
    public List<Plant> plants;
    public DateOnly month;
    protected async override Task OnInitializedAsync()
    {
        month = DateOnly.FromDateTime(DateTime.Today);

        try
        {
            var response = await Http.GetStringAsync($"https://localhost:7204/getAll?month={month.Month}%2F{month.Day}%2F{month.Year}");
            plants = JsonConvert.DeserializeObject<List<Plant>>(response) ?? new();
        }
        catch (Exception ex)
        {
            throw;
        }
    }
}